<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002906035447-kn5bdnntgg739k11fibok0d2fj1gbg91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002906035447-kn5bdnntgg739k11fibok0d2fj1gbg91</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1002906035447-1vrufgk1kqu7cou8ugs2j84uc59hdkqu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAOjirFcdHFUPLJF52Jw0sTX92AGl-uFs</string>
	<key>GCM_SENDER_ID</key>
	<string>1002906035447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Zodiap</string>
	<key>PROJECT_ID</key>
	<string>zodiap-b5bf9</string>
	<key>STORAGE_BUCKET</key>
	<string>zodiap-b5bf9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002906035447:ios:25ebc224a9e8e370aedff2</string>
	<key>DATABASE_URL</key>
	<string>https://zodiap-b5bf9.firebaseio.com</string>
</dict>
</plist>