<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351382606491-m3ras6sta0ll75g97ltuq7raifaric6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351382606491-m3ras6sta0ll75g97ltuq7raifaric6k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>351382606491-9b1at78n5p0abt5ukctehttplrgs5u6i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAkkNL4HOyA-_AjbYhr3p3bwd-le0gasXM</string>
	<key>GCM_SENDER_ID</key>
	<string>351382606491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gathingd123</string>
	<key>PROJECT_ID</key>
	<string>gethingd-45e1d</string>
	<key>STORAGE_BUCKET</key>
	<string>gethingd-45e1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351382606491:ios:ff0c77060c214b086f6c3e</string>
</dict>
</plist>